
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #222;
    padding: 15px;
    z-index: 1000;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #00bcd4;
}

section {
    height: 100vh;
    padding: 100px 40px;
}

#home {
    background-image: url("https://images.unsplash.com/photo-1500530855697-b586d89ba3ee?auto=format&fit=crop&w=1920&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f4f4f4;
    text-align: center;
    font-size: 50px;
    color: rgb(246, 232, 214);
}

#about {
    background-image: url("https://images.unsplash.com/photo-1685495856559-5d96a0e51acb?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 50px;
    color: rgb(246, 232, 214);
    background-color: #e3f2fd;
}

#services {
    background-image: url("https://plus.unsplash.com/premium_photo-1676218968741-8179dd7e533f?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 50px;
    color: rgb(246, 232, 214);
    background-color: #e3f2fd;
    background-color: #fce4ec;
}

#contact {
    background-image: url("https://plus.unsplash.com/premium_photo-1667530527025-0dbeb1777692?q=80&w=870&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    text-align: center;
    font-size: 50px;
    color: rgb(25, 15, 2);
    background-color: #e8f5e9;
}

h1 {
    margin-bottom: 20px;
}
